body {
  background: grey;
}
.wrapper {
margin: 5px 620px;
 width: 700px;
 background: white;
  padding: 7px;
 -webkit-box-shadow: 1px 1px 10px 3px #2c1a49;
 -moz-box-shadow: 1px 1px 10px 3px #2c1a49;
 -ms-box-shadow: 1px 1px 10px 3px #2c1a49;
 -o-box-shadow: 1px 1px 10px 3px #2c1a49;
 box-shadow: 1px 1px 10px 3px #2c1a49;
 height: 900px;
}
h1 {
  text-align: center;
  font-family: Times;
  font-size: 25px;
}
img {
  background-position: center;
  margin: 5px 250px 5px 250px;
    width: 200px;
}
p{
margin: 5px 50px 20px 60px;
font-family: Times;
font-size: 18px;
}
ul {
  margin: 5px 50px 20px 40px;
  font-family: Times;
  font-size: 18px;
}
a {
  margin: 5px 50px 20px 60px
}
hr {
  margin: 2px 40px 2px 40px;
  background: black;
}
